/* .item{
    width: 100px;
    height: 100px;
    background-color: magenta;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 100px;
  
}
#drag-elem1{
    background-color: green;
}
#drag-elem2{
    background-color: yellow;
}
#drag-elem3{
    background-color: pink;
}
.drop-elem{
    width: 400px;
    height: 400px;
    background-color: red;
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */



.upload{
    width: 500px;
    height: 300px;
    background-color: gray;
    border: 2px dotted black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload i{
    font-size: 50px;
    color: greenyellow;
    cursor: pointer;

}

img{
    width: 100px;
    height: 100px;
}